.next-button {
    cursor: pointer;
    border: none;
    background-color: hsl(213, 96%, 18%);
    color: white;
    padding: 12px;
    font-family: "Medium";
    border-radius: 6px;
    width: fit-content;
}