.multi-form-header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.header {
    font-family: "Bold";
    font-size: x-large;
    color: hsl(213, 96%, 18%);
}

.text {
    font-family: "Regular";
    font-size: small;
    color: hsl(231, 11%, 63%);
}