.service-card {
    display: flex;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.service-text {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.service {
    font-family: "Bold";
    font-size: medium;
}

.text {
    font-family: "Medium";
    font-size: small;
}