.thank-you {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.head-text {
    font-family: "Bold";
    font-size: xx-large;
    color: hsl(213, 96%, 18%);
}

.content-text {
    font-family: "Regular";
    color: hsl(231, 11%, 63%);
    text-align: center;
}