.back-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: hsl(231, 11%, 63%);
    padding: 12px;
    font-family: "Bold";
    border-radius: 6px;
    width: fit-content;
}