.finishing-up {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.colored-set {
    display: flex;
    padding: 24px;
    border-radius: 8px;
    background-color: hsl(217, 100%, 97%);
    flex-direction: column;
    row-gap: 12px;
}

.info-set {
    display: flex;
    justify-content: space-between;

}

.container-set {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.text-set {
    font-family: "Regular";
    color: hsl(231, 11%, 63%);
}

.service-price {
    display: flex;
    justify-content: space-between;
}

.non-colored {
    padding: 24px;
}

.type {
    font-family: "Bold";
    color: hsl(213, 96%, 18%);
}

.amount {
    font-family: "Bold";
    color: hsl(213, 96%, 18%);
}

.change {
    font-family: "Regular";
    color: hsl(231, 11%, 63%);
}

.text-final-set {

    font-family: "Medium";
    color: hsl(213, 96%, 18%);
}

.total {
    color: hsl(243, 100%, 62%);
    font-family: "Bold";
    font-size: x-large;
}