.input-group {
    margin-bottom: 14px;
    font-family: "Medium";
}

.input-group label {
    font-size: small;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}

.input-group input {
    font-size: 14px;
    padding: 10px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 6px;
}

.input-group .error-text {
    font-family: "Medium";
    font-size: small;
    color: hsl(354, 84%, 57%);
    margin-right: 6%;
}

.top-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

input:focus {
    border: 1px solid rgb(177, 57, 177);
    outline: 1px solid rgb(177, 57, 177);
}