body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "Regular";
  src: local("Ubuntu-Regular"), url("./fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Ubuntu-Medium"), url("./fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Ubuntu-Bold"), url("./fonts/Ubuntu-Bold.ttf") format("truetype");
}

@media only screen and (max-width: 600px) {
  body {
    background-color: aliceblue;
  }
}